<section class="about-us" id="about">
  <div class="container container-about">
    <div class="about-content">
      <h2 class="about-title">Про нас</h2>
      <p class="about-text">У нашій 'Солодкій Майстерні' ми створюємо неповторні солодкі шедеври, що приносять радість
        та задоволення. Наша місія — пропонувати високоякісні десерти, які поєднують у собі вишуканий смак, свіжі
        інгредієнти та естетичний вигляд.</p>
    </div>

    <div class="swiper-container">
      <div class="swiper about-us-swiper">
        <div class="swiper-wrapper wrapper">
          <div class="swiper-slide">
            <img src="/img/about-us/about1-2x.webp"
                 alt="A close-up shot of a pastry chef's hands delicately piping cream onto a batch of eclairs"
                 srcset="/img/about-us/about1-1x.webp 1x,
                  /img/about-us/about1-2x.webp 2x"
                 class="img-item"
                 loading="lazy"/>
          </div>

          <div class="swiper-slide">
            <img src="/img/about-us/about2-2x.webp"
                 alt="Three colleagues discussing a new dessert idea"
                 srcset="/img/about-us/about2-1x.webp 1x,
                  /img/about-us/about2-2x.webp 2x"
                 class="img-item"
                 loading="lazy"/>
          </div>

          <div class="swiper-slide">
            <img src="/img/about-us/about3-2x.webp"
                 alt="Interior of a workshop with sweets"
                 srcset="/img/about-us/about3-1x.webp 1x,
                  /img/about-us/about3-2x.webp 2x"
                 class="img-item"
                 loading="lazy"/>
          </div>

          <div class="swiper-slide">
            <img src="/img/about-us/about4-2x.webp"
                 alt="Young girl tasting dessert"
                 srcset="/img/about-us/about4-1x.webp 1x,
                  /img/about-us/about4-2x.webp 2x"
                 class="img-item"
                 loading="lazy" />
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>

      <div class="swiper-button-next btn">
        <svg class="swiper-icon" width="24px" height="24px">
          <use href="/img/sprite.svg#icon-arrow-forward"></use>
        </svg>
      </div>
      <div class="swiper-button-prev btn">
        <svg class="swiper-icon" width="24" height="24">
          <use href="/img/sprite.svg#icon-arrow-back"></use>
        </svg>
      </div>
    </div>
  </div>
</section>