<div class="modal-dessert is-hidden">
  <div class="dessert-overlay"></div>
  <div class="dessert-container">
    <button class="dessert-close" type="button">
      <svg width="32" height="32">
        <use href="/img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <img class="dessert-img" src="" alt="" />
    <div class="dessert-content">
      <h2 class="dessert-title"></h2>
      <p class="dessert-price"></p>
      <div class="dessert-rating"></div>
      <p class="dessert-description"></p>
      <p class="dessert-ingredients">
        <span class="dessert-ingredients-title">Склад</span>:
      </p>
      <button class="dessert-order-btn" type="button">
        Перейти до замовлення
      </button>
    </div>
  </div>
</div>
