<footer class="footer">
    <div class="container">
        <div class="footer-top">
            <a href="./index.html" class="footer-logo">
                <svg class="footer-logo-icon">
                    <use href="/public/img/sprite.svg#icon-logo"></use>
                </svg>
            </a>
            <ul class="footer-nav">
                <li class="footer-nav-item">
                    <a class="footer-nav-link" href="#sweets">Солодощі</a>
                </li>
                <li class="footer-nav-item">
                    <a class="footer-nav-link" href="#about">Про нас</a>
                </li>
                <li class="footer-nav-item">
                    <a class="footer-nav-link" href="#reviews">Відгуки</a>
                </li>
                <li class="footer-nav-item">
                    <a class="footer-nav-link" href="#faq">Часті питання</a>
                </li>
            </ul>
            <ul class="footer-social">
                <li class="footer-social-item">
                    <a class="footer-social-link" href="https://facebook.com" target="_blank" aria-label="facebook">
                        <svg class="footer-social-icon">
                            <use href="/img/sprite.svg#icon-fb"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-social-item">
                    <a class="footer-social-link" href="https://instagram.com/" target="_blank" aria-label="instagram">
                        <svg class="footer-social-icon">
                            <use href="/img/sprite.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-social-item">
                    <a class="footer-social-link" href="https://youtube.com/" target="_blank" aria-label="youtube">
                        <svg class="footer-social-icon">
                            <use href="/public/img/sprite.svg#icon-youtube"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <hr>
        <p class="footer-copy">&copy; 2026 Солодка Майстерня. Усі права захищені.</p>
    </div>
</footer>
  