<section class="popular-section">
  <div class="container">
    <div class="popular-top-wrapper">
      <h2 class="popular-title">Наші бестселери</h2>
    </div>

    <div class="swiper popular-swiper">
      <ul class="swiper-wrapper popular-list" id="popular-list"></ul>
    </div>

    <div class="popular-controls-wrapper">
      <div class="swiper-pagination popular-pagination"></div>
      
      <div class="popular-arrows">
        <button type="button" class="popular-prev-btn" aria-label="Попередній слайд">
          <svg width="24" height="24">
            <use href="/img/sprite.svg#icon-arrow-back"></use>
          </svg>
        </button>
        <button type="button" class="popular-next-btn" aria-label="Наступний слайд">
          <svg width="24" height="24">
            <use href="/img/sprite.svg#icon-arrow-forward"></use>
          </svg>
        </button>
      </div>
    </div>

  </div>
</section>